.letter {
	width: 50px;
	height: 100px;
	border: 2px solid black;
	display: inline-block;
	vertical-align: bottom;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	color: white;
	background-color: gold;
}
